.composer .card-footer{ border-bottom: 1px solid #eeeeee}

.composer input.form-control[type="file"]{display: none;}
.composer .composer-films .card, .composer .composer-books .card{border-width: 1px;}
.composer .composer-films .remove, .composer .composer-books .remove { position: absolute; right: 10px; padding-top: 3px; padding-bottom: 2px; top: 50%; margin-top: -8px;}
input[type="checkbox"] { width: min-content;}